/* PriceListForm.css */
.price-list-form {
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}

/* PriceListForm.css */

.dragging {
    background-color: #b7e1cd;; /* Change background color when dragging */
}

.drop-target {
    background-color: #f8d7da; /* Red background color for drop target */
}

.drag-handle {
    cursor: grab;
    padding: 5px;
}